/* Styles for card wrapper */
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    align-items: flex-start;
}