/* Map marker styles */

.container {
    transform: translate(-50%, -50%);
    transform-orgin: bottom center;
}

.marker {
    width: 20px;
    height: 20px;
    background-color: #F00;
    border-radius: 50%;
}

.labelContainer {
    background-color: #FFF;
    border: 1px solid #000;
    height: 2em;
    width: 4rem;
    margin-bottom: 0.35rem;
    text-align: center;
}

.label {
    font-weight: bold;
    margin: 0.25rem 0;
}
