/* Styles so that chart actually renders */
.containerParent {
    padding-bottom: 25%;
    position: relative;
    height: 0;
}
.containerChild {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
